body {
    font-family: Arial;
    color: white;
  }
  
  
  .split {
    height: 60%;
    width: 48%;
    position: fixed;
    z-index: 1;
    top: 100;

    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 10;
    color: white;
    background-color: rgb(12, 3, 44);
  }
  
  .right {
    right: 0;
    color: white;
    background-color: rgb(64, 97, 32);
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 300px;
    border-radius: 5%;
  }