

<!-- <div>
    <h2>Upcoming projects:</h2>

    <div>
        <img src="/assets/Images/RC1.jpeg" width=30%>
          
    </div>
       
    </div>
    <div>
    <div>
        <img src="/assets/Images/RC2.jpeg" width=0%>
        </div>
    </div> -->
    <div>
        <h2>Upcoming Projects :</h2>
    </div>
<div>
    <h1><a href="https://www.youtube.com/channel/UCorsWAF7N6jGiAquB2doBNg">Click to visit RC Production youtube channel</a>
    </h1>
</div>
    <div class="split left">
        <div class="centered">
            <img src="/assets/Images/RC1.jpeg" width=30%>
          <h2>लग्न दाखवाव जमवून</h2>
          <p>लवकरच आपल्या भेटीस... </p>
        </div>
      </div>
      
      <div class="split right">
        <div class="centered">
            <img src="/assets/Images/RC2.jpeg" width=50%>
            <h2>गावची झलक</h2>
            <p>लवकरच आपल्या भेटीस... </p>
        </div>
      </div>
      